* {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

body {
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #ffffe4;
    text-align: center;
    font-family: sans-serif;
}

body h1 {
    font-size: 2rem;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.2rem;
    justify-content: space-around;
    background:#008AC0;
    background: -webkit-linear-gradient(to right, #008AC0, #004E92);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #008AC0, #004E92); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: black;
    font-weight: bold;
}

header p {
    cursor: pointer;
}

header p:hover {
    color: #B7BAC9;
}

.main-header {
    padding-top: 5rem;
}

